<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="email.css">
    <title>E-mail Verification</title>
</head>
<body>
<header>

<h1>    Activation Mail    </h1>

</header>

<p>
        Tu es pret à activer ton compte MoovyBox ?
        Clique juste sur le bouton ci-dessous...
</p>

<input type="submit" value="Pret à Cartonner!">

<footer>

    <a href=""> J'arrete tout! Les cartons c'est pas mon truc, moi j'aime bien les origamis </a>

</footer>


    
</body>
</html>