<body>
<header>

<h1>    Activation Mail    </h1>

</header>

<p class='email-body'>
        Tu es pret à activer ton compte MoovyBox ?
        Clique juste sur le bouton ci-dessous...
</p>

<input type="submit" value="Pret à Cartonner!">

<footer>

    <a href=""> J'arrete tout! Les cartons c'est pas mon truc, moi j'aime bien les origamis </a>

</footer>

<style>
.email-body {
    font-family: 'Spartan', sans-serif; 
    src: url('https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap'); 
}
</style>
    
</body>
